@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ********************* */
/* Inter */

@font-face {
    font-family: 'Int-Bold';
    src: url(../css/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Int-ExtraLight';
    src: url(../css/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Int-Light';
    src: url(../css/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Int-Thin';
    src: url(../css/fonts/Inter/Inter-Thin.ttf);
}

/* Satoshi */

@font-face {
    font-family: 'St-Black';
    src: url(../css/fonts/satoshi/Satoshi-Black.otf);
}

@font-face {
    font-family: 'St-Bold';
    src: url(../css/fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'St-Light';
    src: url(../css/fonts/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'St-Medium';
    src: url(../css/fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
    font-family: 'St-Regular';
    src: url(../css/fonts/satoshi/Satoshi-Regular.otf);
}

/* ********************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Int-Regular';
    /* padding-top: 100px; */
    background-color: var(--main-bg-color);
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.row{
    margin: 0;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 90%;
    margin: 0px auto;
    padding: 0;
}

/* **************************************************************************************************** */

:root {

    /* All Colors */
        /* Font Color */
        --primary-color: #e6e6e6;
        --content-color: #8f8f8f;
        --placeholder-color: #999999;
        --blue-color: #45A5FF;
        
        /* Background Color */
        --main-bg-color: #101112;
        --secondary-bg-color: #2C2C2D;
        --third-bg-color: #1C1C1D;
        --other-bg-color: #2c2c2d;
        --border: #1C1D1E;

    /*Fonts Family*/
    --logo-ff: 'Int-Bold';
    --heading-ff: 'Int-Medium';
    --content-ff: 'Int-Light';
    /* --logo-ff: 'St-Bold';
    --heading-ff: 'St-Medium';
    --content-ff: 'St-Regular'; */

    /* Font Size */
    --heading-fs: 27px;
    --title-fs: 20px;
    --content-head-fs: 17px;
    --content-mini-fs: 14px;

    --letter-space: 0.5px;

    color: var(--primary-color);
    background-color: var(--main-bg-color);
    letter-spacing: 0.5px;

}

::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-track{background: #101112;}
::-webkit-scrollbar-thumb{background: #8f8f8f;}

/* *************************************************************************************************** */

.bg-color
{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
}

.login-form
{
    padding: 70px 0px;
}

.user-panel-form
{
    padding: 100px 0px;
}

.login-form-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-admin
{
    margin-bottom: 50px;
}

.login-form-head a
{
    color: #4285f4;
    font-size: 15px;
    display: flex;
    gap: 7px;
}

.login-form-head a img
{
    width: 14px;
    color: red;
    transform: scaleX(-1);
}

.login-form-content
{
    width: 50%;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 70px 50px;
}

.user-panel-form-content
{
    width: 35%;
    margin: auto;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 70px 50px;
}

.login-form-dtl
{
    display: flex;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.login-form-head h2
{
    width: 100%;
    color: var(--primary-color);
    font-size: 30px;
    font-family: var(--logo-ff);
    letter-spacing: 1px;
}

.login-form-dtl h6
{
    width: 100%;
    color: var(--primary-color);
    font-size: 16px;
    font-family: var(--content-ff);
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.login-form-acc a
{
    color: #4285F4;
    font-size: 15px;
    text-decoration: underline;
}

.login-form-acc a:hover
{
    color: #4285F4;
    font-size: 15px;
    text-decoration: none;
}

.login-field-cnt
{
    margin-bottom: 40px;
}

.login-field-cnt p
{
    color: #4c4c4c;
    font-size: 15px;
    margin-bottom: 0px;
}

.login-field-cnt input
{
    width: 100%;
    color: rgb(17, 16, 19, 0.9);
    background: none;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.login-field-cnt input::placeholder
{
    color: rgb(0, 0, 0, 0.5);
    font-size: 15px;
}

.login-btn
{
    text-align: center;
}

.login-btn-admin
{
    margin-top: 50px;
}

.login-btn input
{
    width: 70%;
    color: var(--main-bg-color);
    font-size: 18px;
    font-family: var(--heading-ff);
    background-color: var(--main-bg-color);
    padding: 13px 20px;
    border-radius: 10px;
}

.login-btn a:hover
{
    text-decoration: none;
}

form
{
    width: auto;
    margin: 0;
    padding: 0;
}

.login-copyright h6
{
    margin: 0;
    padding: 10px 0px;
}

/* ******************************************************************************************** */

.navbar
{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px); */
    border-bottom: 1px solid var(--border);

    /* position: fixed;
    top: 15px; */
}

.nav-logo h4
{
    color: var(--primary-color);
    font-size: 25px;
    font-family: var(--logo-ff);
    padding: 15px;
    padding-left: 30px;
}

.nav-menu
{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-menu li
{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--border);
    padding: 0px 30px;
}

.end-line
{
    border-right: 1px solid var(--border);
}

.nav-menu ul
{
    display: flex;
    align-items: center;
    /* gap: 40px; */
}

.nav-menu ul .nav-submenu
{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nav-profile ul
{
    display: flex;
    align-items: center;
    /* gap: 20px; */
    /* padding: 15px; */
}

.nav-profile ul a
{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--border);
    padding: 0px 30px;
}

.nav-profile ul a:hover
{
    background-color: var(--other-bg-color);
}

.cart-count-relative
{
    /* position: relative; */
    display: flex;
    align-content: center;
    gap: 7px;
}

.cart-count p
{
    /* max-width: 22px;
    height: 17px; */
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0px 5px;
    margin-top: 2px;

    /* position: absolute;
    top: -3px;
    right: -10px;
    z-index: 9999; */
}

.cart-count p
{
    color: var(--main-bg-color);
    font-size: 13px;
    font-family: var(--heading-ff);
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 99999; */
}

.nav-menu ul a
{
    color: var(--content-color);
    font-size: 12px;
    font-family: var(--heading-ff);
    letter-spacing: var(--letter-space);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-menu ul a:hover
{
    color: var(--primary-color);
    background-color: rgb(28, 28, 29, 0.5);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-links.active
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
}

/* .nav-dropmenu
{
    position: relative;
}

.nav-submenu
{
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    
    position: absolute;
    top: 70px;
    left: 0px;
}

.nav-submenu li
{
    width: 135px;
    padding: 10px 0px;
    padding-left: 10px;
}

.nav-menu ul li .nav-submenu a li
{
    height: auto;
    color: var(--content-color);
    background-color: transparent;
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    letter-spacing: var(--letter-space);
    transition: all 0.5s ease;
    border: none;
    border-radius: 8px;
}

.nav-menu ul li .nav-submenu a li:hover
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    border-radius: 8px;
}

.nav-menu ul li .nav-submenu
{
    display: none;
}

.nav-menu ul li:hover .nav-submenu
{
    display: block;
} */

/* ************************************************************************************** */

/* .merge-bg
{
    background-color: var(--third-bg-color);
} */

.header
{
    max-width: 90%;
    margin: auto;
    /* padding: 100px 0px; */
    padding-top: 30px;
    padding-bottom: 80px;
}

.header-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--third-bg-color);
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 0;
    border-radius: 10px;
}

.header-txt
{
    padding-bottom: 40px;
}

.header-txt h2
{
    color: var(--primary-color);
    font-size: 40px;
    font-family: 'Int-Bold';
    margin-bottom: 10px;
}

.header-txt h6
{
    color: var(--primary-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    margin-bottom: 70px;
}

.header-btn a
{
    color: var(--primary-color);
    background-color: var(--main-bg-color);
    font-size: var(--content-head-fs);
    padding: 15px 25px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.header-btn a:hover img
{
    transform: translateX(5px);
    transition: all 0.5s ease;
}

.header-img img
{
    width: 300px;
}

/* ******************************************************************************** */

.category
{
    padding-bottom: 80px;
}

.section-head h3
{
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--logo-ff);
    text-align: center;
    margin-bottom: 30px;
}

.category-card
{
    width: 100%;
    height: 300px;
    background-color: var(--other-bg-color);
    border-radius: 15px;
    padding: 20px;
    transition: all 0.5s ease;
}

.category-card h1
{
    color: rgb(14, 20, 34, 0.8);
    font-size: 60px;
    font-family: 'St-Black';
    letter-spacing: -3px;
    text-align: center;
    rotate: -10deg;
    padding-top: 70px;
    transition: all 0.5s ease;
}

.category-card:hover
{
    background-color: var(--main-bg-color);
    padding-top: 40px;
}

.category-card:hover h1
{
    color: var(--main-bg-color);
    padding-top: 30px;
}


/* ******************************************************************************** */

.facility
{
    max-width: 90%;
    margin: auto;
    margin-bottom: 80px;
}

.facility-content .row
{
    margin: 0;
    border: 1px solid var(--border);
    border-radius: 15px;
}

.facility-content .row .col-lg-4, 
.facility-content .row .col-md-6, 
.facility-content .row .col-sm-12
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border);
    padding: 40px;
}

.facility-content .row .border-none
{
    border: none;
}

.facility-card
{
    max-width: 280px;
    /* padding-bottom: 80px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.facility-img, .facility-title, .facility-cnt
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facility-img img
{
    background-color: var(--other-bg-color);
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.facility-title h5
{
    color: var(--primary-color);
    font-size: var(--content-head-fs);
    font-family: var(--heading-ff);
    margin-bottom: 10px;
}

.facility-cnt p
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    text-align: center;
}

/* ************************************************************************************************** */

.best-sell
{
    margin-bottom: 80px;
}

.best-sell-content
{
    max-width: 90%;
    margin: auto;
}

.best-sell-details .col-lg-3,
.best-sell-details .col-md-6,
.best-sell-details .col-sm-6
{
    margin-bottom: 30px;
}

.best-head
{
    margin-bottom: 60px;
}

.best-card
{
    cursor: pointer;
    transition:all 0.5s ease;
}

.best-card-img
{
    position: relative;
}

.best-card-btn
{
    display: none;
    transition:all 0.5s ease;
}

.best-card:hover .best-card-btn
{
    display: block;
}

.best-card-btn .view-dtl
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    bottom: 15px;
    left: 25px;
}

.best-card-btn .view-dtl:hover
{
    color: var(--primary-color);
    background-color: rgb(230, 230, 230, 0.1);
    border: 1px solid var(--primary-color);
}

.best-card-btn .add-cart
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 13px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    bottom: 15px;
    right: 25px;
}

.best-card-btn .add-cart:hover
{
    color: var(--main-bg-color);
    background-color: #c7c7c7;
    border: 1px solid var(--primary-color);
}

.best-card-img img
{
    width: 100%;
    /* height: 100%; */
    height: 320px;
    object-fit: cover;
    background-color: var(--third-bg-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.best-card-cnt
{
    border: 1px solid var(--border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
}

.best-card-name h4
{
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--heading-ff);
    margin-bottom: 20px;
}

.best-card-price-stock
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.best-card-price
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.best-card-price h6
{
    color: var(--primary-color);
    font-size: var(--content-head-fs);
    font-family: var(--content-ff);
}

.best-card-price p
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
}

.best-card-stock p
{
    color: var(--content-color);
    background-color: rgb(44, 44, 45, 0.3);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    border: 1px solid var(--border);
    padding: 7px 20px;
    border-radius: 50px;
}

.best-btn
{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-btn a
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    padding: 10px 20px;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* ******************************************************************************************* */

.footer
{
    border-top: 1px solid var(--border);
    /* padding: 50px; */
}

.footer-content .row .col-lg-4,
.footer-content .row .col-md-4,
.footer-content .row .col-sm-12,
.footer-content .row .col-lg-5,
.footer-content .row .col-md-5,
.footer-content .row .col-lg-3,
.footer-content .row .col-md-3
{
    padding: 0;
}

.footer-content
{
    /* max-width: 90%; */
    margin: auto;
}

.footer-menu
{
    border-right: 1px solid var(--border);
}

.footer-about
{
    padding: 40px;
}

.footer-logo h3
{
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--logo-ff);
    margin-bottom: 10px;
}

.footer-paragraph p
{
    width: 400px;
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    margin-bottom: 20px;
}


.add-border h5
{
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.right-new-border ul li
{
    border-right: 1px solid var(--border);
}

.left-new-border ul li
{
    border-left: 1px solid var(--border);
}

.footer-content .row .col-lg-4
{
    border-right: 1px solid var(--border);
}

.footer-menu .row .col-lg-4
{
    border: none;
}

.footer-sec-head h5
{   

    border-bottom: 1px solid var(--border);
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links ul li
{
    border-bottom: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 20px;
    text-align: center;
}

.footer-sec-head h5
{
    color: #ffffff;
    font-size: var(--content-mini-fs);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-links ul li
{
    color: var(--content-color);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.footer-links ul li:hover
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
}

.footer-links ul li a
{
    color: var(--content-color);
}

.footer-pay-method
{
    padding-top: 10px;
}

.footer-pay-method ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-pay-method ul li .googlepay
{
    width: 55px;
}

.footer-pay-method ul li .mastercard
{
    width: 40px;
}

.footer-pay-method ul li .visa
{
    width: 50px;
}

.footer-social-media ul
{
    display: flex;
    align-items: center;
    gap: 15px;    
}

.footer-social-media li
{
    width: 45px;
    height: 45px;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.footer-social-media li:hover
{
    background-color: var(--other-bg-color);
}

.footer-social-media a
{
    color: var(--primary-color);
    font-size: 19px;
}

/* ****************************************************************************************************************
****************************************************************************************************************
**************************************************************************************************************** */
.brand-content
{
    padding-top: 30px;
    padding-bottom: 80px;
}

.brand-content .row .col-lg-3,
.brand-content .row .col-md-4,
.brand-content .row .col-sm-6
{
    padding: 10px;
}

.brand-head h3
{
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--heading-ff);
    margin-bottom: 20px;
    text-align: center;
}

.brand-cnt img
{
    width: 100%;
    border-radius: 10px;
}

.brand-slider
{
    margin-bottom: 80px;
}

.brand-slider-card
{
    margin: 0px 10px;
}

.brand-card-img .brand-logo img
{
    width: 100px;
    height: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;

    position: absolute;
    top: 0;
    right: 0;
}

.brand-card
{
    cursor: pointer;
    transition:all 0.5s ease;
}

.brand-card-img
{
    position: relative;
}

.brand-slider-head h3
{
    color: var(--primary-color);
    font-size: 22px;
    font-family: var(--content-ff);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.brand-card-btn
{
    display: none;
    transition:all 0.5s ease;
}

.brand-card:hover .brand-card-btn
{
    display: block;
}

.brand-card-btn .view-dtl
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-size: 13px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    bottom: 15px;
    left: 25px;
}

.brand-card-btn .view-dtl:hover
{
    color: var(--primary-color);
    background-color: rgb(230, 230, 230, 0.1);
    border: 1px solid var(--primary-color);
}

.brand-card-btn .add-cart
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 13px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 10px;

    position: absolute;
    bottom: 15px;
    right: 25px;
}

.brand-card-btn .add-cart:hover
{
    color: var(--main-bg-color);
    background-color: #c7c7c7;
    border: 1px solid var(--primary-color);
}

.brand-card-img img
{
    width: 100%;
    /* height: 100%; */
    height: 260px;
    object-fit: cover;
    background-color: var(--third-bg-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.brand-card-cnt
{
    border: 1px solid var(--border);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 17px;
}

.brand-card-name h4
{
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--heading-ff);
    margin-bottom: 20px;
}

.brand-card-price-stock
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-card-price
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-card-price h6
{
    color: var(--primary-color);
    font-size: 16px;
    font-family: var(--content-ff);
}

.brand-card-price p
{
    color: var(--content-color);
    font-size: 13px;
    font-family: var(--content-ff);
}

.brand-card-stock p
{
    color: var(--content-color);
    background-color: rgb(44, 44, 45, 0.3);
    font-size: 13px;
    font-family: var(--content-ff);
    border: 1px solid var(--border);
    padding: 7px 15px;
    border-radius: 50px;
}

.brand-btn
{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-btn a
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    padding: 10px 20px;
    border-radius: 7px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.card-view-more
{
    width: 100%;
    height: 375px;
    background-color: var(--third-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.card-view-more h3
{
    color: var(--primary-color);
    font-size: var(--content-head-fs);
    font-family: var(--content-ff);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.brand-slider-with-arrow
{
    position: relative;
}

.slider-arrow .prev-btn
{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    position: absolute;
    left: -8px;
    top: 40%;
    z-index: 9999;
}

.slider-arrow .next-btn
{
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

    position: absolute;
    right: -8px;
    top: 40%;
    z-index: 9999;
}

/* ******************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.product
{
    padding-top: 50px;
    padding-bottom: 100px;
}

.product-cnt .col-lg-3,
.product-cnt .col-md-6,
.product-cnt .col-sm-6
{
    margin-bottom: 30px;
}

.product-head h3
{
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--logo-ff);
    text-align: center;
    margin-bottom: 30px;

}

/* ***************************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.cart
{
    max-width: 85%;
    margin: auto;
    padding: 80px 0px;
    padding-bottom: 200px;
}

.cart-plus-minus 
{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.cart-plus-minus .form-control 
{
    color: var(--primary-color);
    background-color: transparent;
    border: none;
    width: 130px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
    padding: 0px 30px;
    border: 1px solid var(--border);
    border-radius: 7px;
}

.cart-plus-minus .cart-qty-plus
{
    width: 38px;
    height: 100%;
    color: var(--content-color);
    background-color: var(--third-bg-color);
    border: none;
    font-size: 22px;
    padding: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
}

.cart-plus-minus .cart-qty-minus
{
    width: 38px;
    height: 100%;
    color: var(--content-color);
    background-color: var(--third-bg-color);
    border: none;
    font-size: 24px;
    padding: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
}

.cart-product-head h3
{
    color: var(--primary-color);
    font-size: 25px;
    font-family: var(--heading-ff);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 50px;
}

.cart-card
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cart-card-img
{
    width: 100px;
    height: 100px;
    background-color: var(--third-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cart-card-img img
{
    width: 90px;
}

.cart-card-part
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.cart-card-child-part
{
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-card-title h4
{
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--heading-ff);
    margin-bottom: 10px;
}

.cart-card-title h5
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--heading-ff);
    margin-bottom: 10px;
}

.cart-card-price h6
{
    color: var(--primary-color);
    font-size: 18px;
    font-family: var(--heading-ff);
}

.cart-card-close
{
    width: 38px;
    height: 38px;
    background-color: var(--third-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cart-card-close img
{
    width: 20px;
}

.no-border
{
    border: none;
}

.summary-card
{
    border: 1px solid var(--border);
    padding: 30px;
    border-radius: 10px;
}

.summary-head h4
{
    color: var(--primary-color);
    font-size: var(--title-fs);
    font-family: var(--heading-ff);
    margin-bottom: 40px;
}

.summary-field
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.new-border
{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.summary-field h5
{
    color: var(--primary-color);
    font-size: var(--content-head-fs);
    font-family: var(--content-ff);
}

.summary-field h6
{
    color: var(--content-color);
    font-size: 15px;
    font-family: var(--heading-ff);
}

.summary-btn
{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.summary-btn a
{
    width: 100%;
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    font-size: var(--content-head-fs);
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.summary-continue-shopping
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-continue-shopping a
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    border-bottom: 1px solid var(--content-color);
    padding-bottom: 0px;
}

.all-center
{
    width: 60%;
    margin: auto;
}

.update-form-btn
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.update-form-btn-off a
{
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
}

.update-form-btn-on input
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
}

/* ********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** */

.sidebar-content
{
    width: 270px;
    height: 100vh;
    border-right: 1px solid var(--border);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
}

.sidebar-logo h3
{
    height: 70px;
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--logo-ff);
    padding-left: 30px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
}

.sidebar-links ul a
{
    color: var(--content-color);
    font-size: 15px;
    font-family: var(--content-ff);
}

.sidebar-links ul a li
{
    height: 70px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding-left: 30px;
    transition: all 0.5s ease;
}

.sidebar-links ul a li:hover
{
    color: var(--primary-color);
    background-color: rgb(28, 28, 29, 0.5);
}

.sidebar-links ul a li img
{
    width: 23px;
    margin-right: 13px;
}

.up-border
{
    border-top: 1px solid var(--border);
}

.sidebar-link-menu.active
{
    color: var(--primary-color);
    background-color: var(--third-bg-color);
}

.content-main-section
{
    display: none;
}

.content-main-section.active
{
    display: block;
}

.content-main-section
{
    margin-left: 270px;
}

.cnt-full-width
{
    width: 100%;
    margin: auto;
}

.cnt-sec-head
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cnt-navbar
{
    height: 70px;
    color: var(--primary-color);
    font-size: var(--heading-fs);
    font-family: var(--logo-ff);
    padding: 0px 30px;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cnt-path h6
{
    display: flex;
    align-items: center;
    gap: 7px;
}

.cnt-path h6 a
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--heading-ff);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cnt-path h6 a:hover
{
    text-decoration: underline;
}

.cnt-path h6 .path-active
{
    color: var(--primary-color);
}

.cnt-profile img
{
    width: 40px;
    margin-top: -3px;
    border-radius: 50px;
    border: 4px solid var(--main-bg-color);
    outline: 2px solid var(--blue-color);
}

.cnt-main-content
{
    padding: 30px;
}

.cnt-head
{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.cnt-head h4
{
    color: var(--primary-color);
    font-size: 21px;
    font-family: var(--heading-ff);
}

.cnt-head button, .cnt-head a
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

#creat-cnt 
{
    display: none;
    /* display: block; */
}

/* #add-cnt
{
    display: none;
} */

#save-cnt
{
    display: none;
}

.table td, .table th
{
    vertical-align: middle;
}

.table tbody tr td a i
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tbody tr .edit
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
}

.table tbody tr .delete
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.table tbody tr td a .fa-pen
{
    width: 55px;
    height: 30px;
    color: var(--blue-color);
    background-color: var(--third-bg-color);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tbody tr td a .fa-trash-can
{
    width: 55px;
    height: 30px;
    color: #ef4e4e;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table tbody tr td a .fa-telescope
{
    width: 55px;
    height: 30px;
    color: #32d74b;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cnt-table
{
    margin-top: 40px;
}

.table thead th, tbody td, .table tbody+tbody
{
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    text-align: center;
}

.table 
{
    width: 100%;
    border: 1px solid var(--border);
}

.table thead tr th
{
    color: var(--primary-color);
    background-color: var(--third-bg-color);
    font-size: 15px;
    font-family: var(--content-ff);
    letter-spacing: 2px;
}

.table tbody tr td
{
    color: var(--content-color);
    background-color: transparent;
    font-size: 14px;
    font-family: var(--heading-ff);
    letter-spacing: 0.7px;
}

.pagination li 
{
    color: var(--content-color);
    margin: 0px 4px;
    padding: 5px 12px;
    border-radius: 5px;
}

.pagination li:hover 
{
    cursor: pointer;
    background-color: #efefef;
}

.header-wrap 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tb-search, .num-rows
{
    width: 20%;
}

.tb-search input
{
    width: 100%;
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    border: none;
    padding: 10px;
    border-radius: 7px;
}

.tb-search input::placeholder
{
    color: var(--placeholder-color);
}

.tb-search input:focus 
{
    background-color: var(--third-bg-color);
    border: 1px solid var(--border);
    box-shadow: #45A5FF 0px 1px 3px 0px, #45A5FF 0px 0px 0px 1px;
}

.num-rows select
{
    width: 100%;
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    border: none;
    padding: 12px;
    border-radius: 7px;
}

.num-rows select:focus 
{
    background-color: var(--third-bg-color);
    border: 1px solid var(--border);
    box-shadow: #45A5FF 0px 1px 3px 0px, #45A5FF 0px 0px 0px 1px;
}

.pagination-container 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rows-count
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
}

.pagination li 
{
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    background-color: var(--third-bg-color);
    margin: 0px 5px;
    padding: 5px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li.active 
{
    cursor: pointer;
    color: var(--main-bg-color);
    background-color: var(--blue-color);
}

.pagination li.active:hover
{
    background-color: var(--blue-color);
}

.pagination li:hover 
{
    cursor: pointer;
    background-color: var(--other-bg-color);
}

/* ************************************************************************************************ */

.stock-not-found-content
{
    text-align: center;
    padding: 80px 0px;
}

.stock-img img
{
    width: 25%;
    opacity: 0.5;
    margin-bottom: 25px;
}

.stock-txt h3
{
    color: var(--primary-color);
    font-size: 35px;
    font-family: var(--heading-ff);
    margin-bottom: 10px;
}

.stock-txt h5
{
    color: var(--content-color);
    font-size: 18px;
    font-family: var(--content);
}

/* ****************************************************************************************************** */

.cnt-main-add
{
    border: 1px solid var(--border);
    border-radius: 15px;
}

.cnt-adding-head h4
{
    color: var(--primary-color);
    font-size: 25px;
    font-family: var(--heading-ff);
    padding: 30px;
    border-bottom: 1px solid var(--border);
}

.cnt-adding-form
{
    padding: 50px 30px;
}

.cnt-adding-main-part
{
    display: flex;
    align-items: start;
    gap: 80px;
}

.cnt-adding-part
{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

.cnt-adding-field
{
    width: 100%;
}

.cnt-adding-field h5
{
    color: var(--primary-color);
    font-size: 16px;
    font-family: var(--content-ff);
    margin-bottom: 8px;
}

.cnt-adding-field input, textarea
{
    width: 100%;
    color: var(--primary-color);
    background-color: var(--third-bg-color);
    font-size: 15px;
    font-family: var(--content-ff);
    border: none;
    border-radius: 7px;
    padding: 10px;
    resize: none;
}

.cnt-adding-other-part
{
    display: flex;
    align-items: start;
}

.cnt-adding-colors
{
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-box
{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.cnt-adding-colors .red
{
    background-color: #f74141;
}

.cnt-adding-colors .blue
{
    background-color: #45a5ff;
}

.cnt-adding-colors .orange
{
    background-color: #ffb257;
}

.cnt-adding-colors .green
{
    background-color: #45d56d;
}

.cnt-adding-mini-part .cnt-adding-field
{
    margin-bottom: 30px;
}

.cnt-adding-mini-part .cnt-adding-field h5
{
    margin-bottom: 15px;
}

.cnt-adding-sizes
{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cnt-adding-sizes .size-box
{
    width: 40px;
    height: 40px;
    color: var(--content-color);
    background-color: var(--third-bg-color);
    font-size: 14px;
    font-family: var(--content-ff);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cnt-adding-btn
{
    margin-top: 70px;
}

.cnt-adding-btn input
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    font-size: 16px;
    font-family: var(--heading-ff);
    padding: 10px 20px;
    border-radius: 7px;
}

.cnt-adding-colors label input[type="radio"]
{
    display: inline-block;
    position: absolute;
    left: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.color-box-done:checked~.icon
{
    border: 2px solid var(--main-bg-color);
    outline: 2px solid var(--primary-color);
}

.cnt-adding-sizes label input[type="radio"]
{
    display: inline-block;
    position: absolute;
    left: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.cnt-adding-colors label .icon.red:hover
{
    background-color: #f74141;
}

.cnt-adding-colors label .icon.blue:hover
{
    background-color: #45a5ff;
}

.cnt-adding-colors label .icon.orange:hover
{
    background-color: #ffb257;
}

.cnt-adding-colors label .icon.green:hover
{
    background-color: #45d56d;
}

.cnt-adding-colors label .icon
{
    width: 30px;
    height: 30px;
    /* border-radius: 50px; */
}

.icon
{
    width: 40px;
    height: 40px;
    color: var(--content-color);
    background-color: var(--third-bg-color);
    font-size: 14px;
    font-family: var(--content-ff);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover 
{
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--other-bg-color);
}

.size-box-done:checked~.icon 
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
}

#picture-input 
{
    display: none;
}

.picture 
{
    height: 42px;
    color: var(--content-color);
    background: var(--third-bg-color);
    font-size: 14px;
    border: 1px solid var(--content-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding-left: 15px;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
    margin-bottom: 20px;
}

.picture:hover, .picture:active, .picture:focus
{
    color: var(--primary-color);
    background: var(--other-bg-color);
}

.picture-image
{
    color: var(--content-color);
}

.picture-img 
{
    max-width: 100px;
}


















































































































