@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ********************* */
/* Inter */

@font-face {
    font-family: 'Int-Bold';
    src: url(../css/fonts/Inter/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Inter/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: 'Int-ExtraLight';
    src: url(../css/fonts/Inter/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: 'Int-Light';
    src: url(../css/fonts/Inter/Inter-Light.ttf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Inter/Inter-SemiBold.ttf);
}

@font-face {
    font-family: 'Int-Thin';
    src: url(../css/fonts/Inter/Inter-Thin.ttf);
}

/* Satoshi */

@font-face {
    font-family: 'St-Black';
    src: url(../css/fonts/satoshi/Satoshi-Black.otf);
}

@font-face {
    font-family: 'St-Bold';
    src: url(../css/fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'St-Light';
    src: url(../css/fonts/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'St-Medium';
    src: url(../css/fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
    font-family: 'St-Regular';
    src: url(../css/fonts/satoshi/Satoshi-Regular.otf);
}

/* ********************* */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Int-Regular';
    /* padding-top: 100px; */
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 80%;
    margin: 0px auto;
    padding: 0;
}

/* **************************************************************************************************** */

:root {

    /* All Colors */
        /* Font Color */
        --primary-color: #0E1422;
        --content-color: #5C5F6A;
        --other-color: #878A92;
        --placeholder-color: #999999;
        
        /* Background Color */
        --main-bg-color: #ffffff;
        --secondary-bg-color: #f9f9f9;
        --third-bg-color: #F6F6F6;
        --other-bg-color: #E9E9EB;
        /* --border: rgb(17, 16, 19, 0.3); */
        --border: #e2e2e2;

    /*Fonts Family*/
    --logo-ff: 'Int-Bold';
    --heading-ff: 'Int-Medium';
    --content-ff: 'Int-Regular';
    /* --logo-ff: 'St-Bold';
    --heading-ff: 'St-Medium';
    --content-ff: 'St-Regular'; */

    /* Font Size */
    --heading-fs: 30px;
    --content-head-fs: 16px;
    --content-mini-fs: 14px;

    --letter-space: 0.5px;

    color: var(--primary-color);
    background-color: var(--main-background-color);

}

::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background: #888;}
::-webkit-scrollbar-thumb{background: #111013;}

/* *************************************************************************************************** */

.bg-color
{
    width: 100%;
    height: 100vh;
    background-color: #111013;
}

.login-form
{
    padding: 70px 0px;
}

.user-panel-form
{
    padding: 100px 0px;
}

.login-form-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-admin
{
    margin-bottom: 50px;
}

.login-form-head a
{
    color: #4285f4;
    font-size: 15px;
    display: flex;
    gap: 7px;
}

.login-form-head a img
{
    width: 14px;
    color: red;
    transform: scaleX(-1);
}

.login-form-content
{
    width: 50%;
    margin: auto;
    background-color: var(--backgroung-color);
    border-radius: 10px;
    padding: 70px 50px;
}

.user-panel-form-content
{
    width: 35%;
    margin: auto;
    background-color: var(--backgroung-color);
    border-radius: 10px;
    padding: 70px 50px;
}

.login-form-dtl
{
    display: flex;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.login-form-head h2
{
    width: 100%;
    color: var(--black-color);
    font-size: 30px;
    font-family: 'Int-Medium';
    letter-spacing: 1px;
}

.login-form-dtl h6
{
    width: 100%;
    color: var(--black-color);
    font-size: 16px;
    font-family: 'St-Regular';
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.login-form-acc a
{
    color: #4285F4;
    font-size: 15px;
    text-decoration: underline;
}

.login-form-acc a:hover
{
    color: #4285F4;
    font-size: 15px;
    text-decoration: none;
}

.login-field-cnt
{
    margin-bottom: 40px;
}

.login-field-cnt p
{
    color: #4c4c4c;
    font-size: 15px;
    margin-bottom: 0px;
}

.login-field-cnt input
{
    width: 100%;
    color: rgb(17, 16, 19, 0.9);
    background: none;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.login-field-cnt input::placeholder
{
    color: rgb(0, 0, 0, 0.5);
    font-size: 15px;
}

.login-btn
{
    text-align: center;
}

.login-btn-admin
{
    margin-top: 50px;
}

.login-btn input
{
    width: 70%;
    color: var(--backgroung-color);
    font-size: 18px;
    font-family: 'St-Medium';
    background-color: var(--black-color);
    padding: 13px 20px;
    border-radius: 10px;
}

.login-btn a:hover
{
    text-decoration: none;
}

form
{
    width: auto;
    margin: 0;
    padding: 0;
}

.login-copyright h6
{
    margin: 0;
    padding: 10px 0px;
}

/* ******************************************************************************************** */

.navbar
{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content
{
    width: 80%;
    /* max-width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--border);
    /* margin: 15px 0px; */
    /* padding: 15px; */

    position: fixed;
    top: 15px;
}

.nav-logo h4
{
    color: var(--primary-color);
    font-size: 20px;
    font-family: var(--logo-ff);
    padding: 15px;
}

.nav-menu
{
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-menu li
{
    padding: 15px 0px;
}

.nav-menu ul
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu ul .nav-submenu
{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.nav-profile ul
{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.nav-menu ul li a
{
    color: var(--content-color);
    font-size: var(--content-mini-fs);
    font-family: var(--heading-ff);
    letter-spacing: var(--letter-space);
}

.nav-menu ul li a:hover
{
    color: var(--primary-color);
    font-size: var(--content-mini-fs);
    letter-spacing: var(--letter-space);
}

.nav-dropmenu
{
    position: relative;
}

.nav-submenu
{
    background-color: var(--secondary-bg-color);
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    
    position: absolute;
    top: 57px;
    /* left: -20px; */
}

.nav-submenu li
{
    width: 120px;
    padding: 10px 0px;
    padding-left: 10px;
}

.nav-menu ul li .nav-submenu a li
{
    color: var(--content-color);
    background-color: transparent;
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    letter-spacing: var(--letter-space);
    transition: all 0.5s ease;
}

.nav-menu ul li .nav-submenu a li:hover
{
    color: var(--primary-color);
    background-color: var(--other-bg-color);
    border-radius: 8px;
}

.nav-menu ul li .nav-submenu
{
    display: none;
}

.nav-menu ul li:hover .nav-submenu
{
    display: block;
}

/* ************************************************************************************** */

/* .merge-bg
{
    background-color: var(--third-bg-color);
} */

spline-viewer #container a #logo
{
    display: none;
}

.header
{
    padding-top: 100px;
}

.header-content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 50px;
    padding-bottom: 0;
    border-radius: 10px;
}

.header-txt h2
{
    color: var(--main-bg-color);
    font-size: 40px;
    font-family: 'Int-Bold';
    margin-bottom: 10px;
}

.header-txt h6
{
    color: var(--main-bg-color);
    font-size: var(--content-mini-fs);
    font-family: var(--content-ff);
    margin-bottom: 70px;
}

.header-btn a
{
    color: var(--main-bg-color);
    background-color: var(--primary-color);
    font-size: var(--content-head-fs);
    padding: 15px 25px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.header-btn a:hover img
{
    transform: translateX(5px);
    transition: all 0.5s ease;
}

.header-img img
{
    width: 300px;
}




































































































































































































































































































































































































